<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Pagina prueba</h1>
<a th:href="@{/add}">Add Customer</a>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    <tr th:each="cliente : ${clientes}">
        <td th:text="${cliente.idcliente}"></td>
        <td th:text="${cliente.nombre}"></td>
        <td th:text="${cliente.apellido}"></td>
        <td th:text="${cliente.email}"></td>
        <td th:text="${cliente.telefono}"></td>
    </tr>
</table>
</body>
</html>